[submodule "Submodules/MathJax"]
	path = Submodules/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "Submodules/Bootstrap"]
	path = Submodules/Bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "Submodules/Desert"]
	path = Submodules/Desert
	url = https://github.com/leico/Desert-css
[submodule "Submodules/Zenburn"]
	path = Submodules/Zenburn
	url = https://github.com/leico/Zenburn-css
