
{% assign collection = page.collection %}
{% assign category = page.path | remove : collection | 
                                 remove : page.slug | 
                                 remove : page.ext | 
                                 remove : '/' |
                                 remove : '_' %}

{% assign pages = site.data.pages | where:"label", category | first %}

<div class="row">

{% for section in pages.sections %}

<div class="col-md-4">
  <div class="card panel panel-default">
    <div class="card-header panel-heading">
      <h3 class="card-title panel-title"> {{ section.name }} </h3>
    </div>
    <div class="card-block panel-body">
      {% for page in section.pages %}

        {% if section.label %}
          {% capture path %}_{{ collection }}/{{ section.label }}/{{ page }}.md{% endcapture %}

        {% else %}
          {% capture path %}_{{ collection }}/{{ pages.label }}/{{ page }}.md{% endcapture %}

        {% endif %}
        <p>{{path}}</p>

        {% assign unit = site.collections | where:"label", collection | first %}
        {% assign doc  = unit.docs        | where:"path" , path       | first %}
        <h5>
          <a href="{{ site.github.url }}{{ doc.url }}">{{ doc.title }}</a>
        </h5>
        <dl class="dl-horizontal">
          <dt>created</dt>
          <dd> {{ doc.date | date: "%Y/%m/%d %H:%M:%S" }} </dd>
          <dt>lastchange</dt>
          <dd> {{ doc.lastchange | date: "%Y/%m/%d %H:%M:%S" }} </dd>
        </dl>

      {% endfor %}
    </div>
  </div>
</div>

{% endfor %}

</div>
