<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- bootstrap and jQuery include -->
  <link rel="stylesheet" href="{{site.github.url}}/css/style.css">
  <script type="text/javascript" src="{{site.github.url}}/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{site.github.url}}/js/bootstrap/bootstrap.min.js"></script>
  <!-- bootstrap and jQuery include -->

  <!-- MathJax include -->
  <script type="text/javascript" src="{{site.github.url}}/js/MathJax/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>

</head>

