{% comment %}
{% raw %}
{% include docs-collapse-panel.html pages collectioncontents %}

pages: 1st generation object of _data/pages.yml

collectioncontents: site.collections.docs, where 'label' = pages.label

{% endraw %}
{% endcomment %}


<div class="col-md-4" id="id_{{include.pages.label}}">
  <div class="card panel panel-default">
    <div class="card-header panel-heading" role="tab" id="head_{{include.pages.label}}">
      <h3 class="panel-title card-title">
      <a href="#body_{{include.pages.label}}" 
         role="button" 
         data-toggle="collapse"
         data-parent="#id_{{include.pages.label}}" 
         area-expanded="false" 
         area-controls="body_{{include.pages.label}}">
        {{include.pages.title}}
      </a>
      </h3>
    </div>
    <div class="card-block panel-body panel-collapse collapse"
         role="tabpanel"
         area-labelledby="head_{{include.pages.label}}"
         id="body_{{include.pages.label}}">
      {% for page in include.pages.pages %}
        {% capture path %}_{{include.pages.label}}/{{page}}.md{% endcapture %}
        {% assign obj = include.collectioncontents | where:"path", path | first %}
        <h4 class="panel-title card-title">
          <a href="{{site.github.url}}{{obj.url}}">{{obj.title}}</a>
        </h4>
        <dl class="dl-horizontal">
          <dt>created</dt>
          <dd> {{ obj.date | date: "%Y/%m/%d %H:%M:%S" }} </dd>
          <dt>lastchange</dt>
          <dd> {{ obj.lastchange | date: "%Y/%m/%d %H:%M:%S" }} </dd>
        </dl>
      {% endfor %}
      {% if include.pages.related %}
      <hr>
      <h4 class="panel-title card-title">関連記事</h4>
      {% for content in include.pages.related %}
        {% assign rel_collect = site.collections | where:"label", content.label | first %}

        {% for page in content.pages %}
          {% capture path %}_{{content.label}}/{{page}}.md{% endcapture %}

          {% assign obj = rel_collect.docs | where:"path", path | first %}
          <h5 class="panel-title card-title">
            <a href="{{site.github.url}}{{obj.url}}">{{obj.title}}</a>
          </h5>
          <dl class="dl-horizontal">
            <dt>created</dt>
            <dd> {{ obj.date | date: "%Y/%m/%d %H:%M:%S" }} </dd>
            <dt>lastchange</dt>
            <dd> {{ obj.lastchange | date: "%Y/%m/%d %H:%M:%S" }} </dd>
          </dl>
        {% endfor %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>


