{% comment %}
{% raw %}
{% include docs-collapse-panel.html pages collection %}

pages      : 1st generation object of _data/pages.yml
collection : collection name that contains pages

{% endraw %}
{% endcomment %}


<div class="col-md-4" id="id_{{include.pages.label}}">
  <div class="card panel panel-default">
    <div class="card-header panel-heading" role="tab" id="head_{{include.pages.label}}">
      <h3 class="panel-title card-title">
      <a href="#body_{{include.pages.label}}" 
         role="button" 
         data-toggle="collapse"
         data-parent="#id_{{include.pages.label}}" 
         area-expanded="false" 
         area-controls="body_{{include.pages.label}}">
        {{include.pages.title}}
      </a>
      </h3>
    </div>
    <div class="card-block panel-body panel-collapse collapse"
         role="tabpanel"
         area-labelledby="head_{{include.pages.label}}"
         id="body_{{include.pages.label}}">


      <h4>
        <a href="{{site.github.url}}/{{include.pages.label}}">{{include.pages.title}} Top</a></h4>
      </h4>

      {% for section in include.pages.sections %}
        <h4 class="panel-title card-title"> {{section.name}} </h4>
        {% for page in section.pages %}

          {% if section.label %}
            {% capture path %}_{{ include.collection }}/{{ section.label }}/{{ page }}.md{% endcapture %}

          {% else %}
            {% capture path %}_{{ include.collection }}/{{ include.pages.label }}/{{ page }}.md{% endcapture %}

          {% endif %}

          {% assign collection = site.collections | where:"label", include.collection | first %}
          {% assign doc        = collection.docs  | where:"path" , path               | first %}
          <h5>
            <a href="{{ site.github.url }}{{ doc.url }}">{{ doc.title }}</a>
          </h5>
          <dl class="dl-horizontal">
            <dt>created</dt>
            <dd> {{ doc.date | date: "%Y/%m/%d %H:%M:%S" }} </dd>
            <dt>lastchange</dt>
            <dd> {{ doc.lastchange | date: "%Y/%m/%d %H:%M:%S" }} </dd>
          </dl>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>


