<footer class="container">
  <hr>
  <div class="row">
    <div class="col">
      <p class="text-right">
      <a href="{{site.github.url}}{% link atom.xml %}">Atom</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <figure class="figure">
            <img src="{{site.github.url}}{% link image/logo.png %}" class="figure-img rounded" 
                 width="200px" height="auto" alt="{{site.data.summary.auther.name}}">
          </figure>
        </div>
        <div class="col-md-4">
          <h5>contact</h5>
          <ul class="list-unstyled">
            <li> {{site.data.summary.author.github}} </li>
            <li> <a href="{{site.data.summary.author.twitter}}">twitter</li>
            <li> <a href="{{site.data.summary.author.Web}}">web</a> </li>
            <li> oishi[at]signalcompose.com </li>
          </ul>
          何かありましたらお気軽に。調査、開発などのご依頼も承ります。
        </div>
        <div class="col-md-4">
          <dl>
            <dt>Technical Note Vol.1 2 3</dt>
            <dd>Max for Live の項目が本になりました。</dd>
            <dd><a href="https://signalcompose.booth.pm/items/1575989">Booth</a></dd>
            <dd><a href="https://signalcompose.stores.jp/items/5e9d0a6f515762579be0b8a9">Stores</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Merchandise/Schwags</h5>
      <p><small class="text-muted">支援してくれるとうれしい</small></p>
      <iframe frameborder="0" height="220" width="160" src="https://leico.official.ec/items/6694858/widget/small" ></iframe>
    </div>
  </div>
  <p class="text-right">
    <small class="text-muted">© 2017 leico.</small>
  </p>

</footer>
