---
layout : default
---

<div class="row">


  <div class="col-md-8">

    <header class="page-header">
      <h1>{{page.title}}</h1>
      <div class="row">

        <div class="col-6">
          <dl class="dl-horizontal">
            <dt>created</dt>
            <dd>{{page.date | date : "%F"}}</dd>
            <dt>last change</dt>
            <dd>{{page.lastchange}}</dd>
          </dl>
        </div>

        <div class="col-6 text-right">
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

      </div>
    </header>

    <div class="row">

      <div class="col-12">
        {{ content }}
      </div>

      <div class="col-12">
        <hr>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

    </div>

  </div>
  {% if page.collection %}
    <div class="col-md-4">
      <h2>
        <a href="{{site.github.url}}/">
          {{site.data.summary.title}}
        </a>
      </h2>

      {% assign category = page.path | remove : page.collection |
                                       remove : page.slug |
                                       remove : page.ext | 
                                       remove : '/' |
                                       remove : '_' %}

      {% assign sibling = site.data.pages | where:"label", category | first %}

      <h3>
        <a href="{{site.github.url}}/{{sibling.label}}">{{sibling.title}} Top</a></h4>
      </h3>

      {% for section in sibling.sections %}
        <h3>{{ section.name }}</h3>
        <ul>
        {% for content in section.pages %}

          {% if section.label %}
            {% capture path %}_{{ page.collection }}/{{ section.label }}/{{ content }}.md{% endcapture %}

          {% else %}
            {% capture path %}_{{ page.collection }}/{{ sibling.label }}/{{ content }}.md{% endcapture %}

          {% endif %}

          {% assign collection = site.collections | where:"label", page.collection | first %}
          {% assign doc        = collection.docs  | where:"path" , path            | first %}

          <li>
            <a href="{{ site.github.url }}{{ doc.url }}">{{ doc.title }}</a>
          </li>

        {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}

</div>
